body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

#predictionResult {
    display: none;
    margin-top: 20px;
}

#uploadedImage {
    max-width: 100%;
    height: 100%;
    border: 1px solid #ff7777;
    margin-top: 10px;
}

#predictionText {
    color: #0066cc;
}

#download {
    background-image: url('/static/assets/img/downloads-bg.jpg');
}
#masthead {
    background-image: url('img/intro-bg.jpg');
}